@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

button {
  font-family: "DM Sans", sans-serif !important;
}

.rounded-10 {
  border-radius: 1.25rem;
}

.primary-blue {
  color: #0074ff;
}

.bg-primary-blue {
  background-color: #0074ff !important;
}

.bg-light {
  background-color: #eeeeee !important;
}

.text-super-light {
  color: #9f9a9a;
}

.header-bg {
  pointer-events: none;
  position: absolute;
  width: 100vw;
  overflow-y: hidden;
  height: 100vh;
  z-index: -1;
}

.bg-image,
.mask {
  height: 100vh !important;
}

.dm-sans {
  font-family: "DM Sans", sans-serif;
}

.input-light,
.input-light:hover {
  background-color: #f9f9f9 !important;
}

.text-muted {
  color: #a19a9a !important;
}

input {
  height: 60px !important;
  font-family: "DM Sans", sans-serif;
}

.remove-outline,
.remove-outline:hover,
.remove-outline:focus {
  outline: 0px !important;
  -webkit-appearance: none;
  border: 0 !important;
  box-shadow: none !important;
}

.community {
  background: url(./assets/PNGs/community.png);
  background-size: cover;
  background-position: center;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon::after {
  content: "";
  z-index: -1;
  height: 100%;
  border-left: 2px dotted #c7c1c1;
}
